@media screen and (max-width: 766px) {
  
body {
  color: white;
  background-color: #000;
}

a {
  color: orange;
}

#waiting {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  text-align: center;
  font-size: 25px;
}


#ErrorMsg {
  display: none;
  background-color: #FFDCCB;
  border-radius: 8px;
  padding: 8px;
  margin: 3px;
  color: #E50000;
  font-weight: bold;
  font-size: 0.85em;
}


#input_table {
  max-width: 98%;
}

.input_notes {
  max-width: 95px;
}

.skillList {
  max-width: 250px;
}

input {
  background-color: #eee;
  color: black;
  font-family: serif;
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
}

input:disabled {
  background-color: #999;
  color: white;
}

select {
  background-color: #eee;
  color: black;
  font-family: serif;
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
}

button {
  background-color: #eee;
  color: black;
  font-family: serif;
  padding: 7px;
  margin: 3px;
  border-radius: 5px;
}

#updHis {
  background-color: #ddd;
}


/* 難易度ソート */
.sortDF_Label {
  border: solid 1px gray;
  background: linear-gradient(#fff, #ddd);
  color: #555;
  font-size: 0.8em;
  padding: 6px;
  border-radius: 5px;
  margin: 1px;
  box-shadow: 1px 1px;
  font-family: serif;
}
input[name='sortDF'] {
  display: none;
}
#sortDF_Easy:checked + label {
  background: #003AFF;
  color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
#sortDF_Normal:checked + label {
  background: #0CFF00;
  color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
#sortDF_Hard:checked + label {
  background: #FFDA00;
  color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
#sortDF_Expert:checked + label {
  background: #FF531A;
  color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
#sortDF_Special:checked + label {
  background: #7300FF;
  color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}


/* バンド別ソート */
.sortBD_Label {
  border: solid 1px gray;
  background: linear-gradient(#fff, #ddd);
  color: #555;
  font-size: 0.8em;
  padding: 6px;
  border-radius: 5px;
  margin: 1px;
  box-shadow: 1px 1px;
  font-family: serif;
}
input[name='sortBD'] {
  display: none;
}
#sortBD_All:checked + label {
  background: #FF7D52;
  color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
#sortBD_PoppinParty:checked + label {
  background: deeppink;
  color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
#sortBD_Afterglow:checked + label {
  background: red;
  color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
#sortBD_PastelPalettes:checked + label {
  background: #00ff00;
  color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
#sortBD_Roselia:checked + label {
  background: #3E29FF;
  color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
#sortBD_HelloHappyWorld:checked + label {
  background: #FFE100;
  color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
#sortBD_Morfonica:checked + label {
  background: #00ffff;
  color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
#sortBD_RAISE_A_SUILEN:checked + label {
  background: #40F4CA;
  color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
#sortBD_etc:checked + label {
  background: #0089FF;
  color: white;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}

}